*
!.dockerignore
!services/
services/*
!services/model-api/
!services/model-api/**
!checkpoints/
checkpoints/*
!checkpoints/covnext348.pth
!checkpoints/swin-224px_final.pth
!checkpoints/densenet-224px_final.pth