/venv
credentials.json

node_modules
.svelte-kit
/build

Output
/.output
/.vercel
/.netlify
/.wrangler

OS
.DS_Store
Thumbs.db

Env
/.env
**/.env.
!/.env.example
!/.env.test

ViteB
/vite.config.js.timestamp-*
/vite.config.ts.timestamp-*

data/preprocessed
data_hybrid/midrc_images
data_hybrid/midrc_images_before
/frontend/build

/images

/frontend/coverage

*.ckpt
*.log
*.pyc
*.wandb
/wandb

checkpoints/xray_orientation_resnet18.pth

/data_hybrid/nih_images/*
/data_hybrid/midrc_images/*
/data_hybrid/midrc_dicoms/*
/data_hybrid/midrc_fixed_images/*
/data_hybrid/midrc_fixed_1024/*


data_hybrid/combined_master.csv

*.gguf

/outputs